<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuishu.blog.common.domain.user.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.shuishu.blog.common.domain.user.entity.po.UserRole">
        <id property="userRoleId" column="user_role_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="INTEGER"/>
    </resultMap>

</mapper>